Repository w3c/wcag, pull requests merged in 2018-09, with the labels that each got.

#385 Removing the fixed-text examples
  understanding/21/text-spacing.html
Labels: Ready for publish, Understanding

#387 Tech media queries grid reflow
  techniques/css/C32.html
  working-examples/css-grid/index.html
Labels: Ready for publish, Techniques

#388 Tech flexbox reflow
  techniques/css/C31.html
  working-examples/css-flexbox/index.html
Labels: Ready for publish, Techniques

#417 Technique - Failure of viewport units
  techniques/failures/F94.html
  working-examples/failure-viewport-units/index.html
Labels: Ready for publish, Techniques

#437 Tech autocomplete
  techniques/html/H98.html
Labels: Ready for publish, Techniques

#477 Removed styling that doesn't get used.
  understanding/21/reflow.html
Labels: Editorial

#479 Fix/meta viewport examples
  working-examples/css-flexbox/index.html
  working-examples/css-grid/index.html
Labels: Technical (bug)
