Repository w3c/wcag, pull requests merged in 2018-11, with the labels that each got.

#389 Tech media queries sticky
  techniques/css/media-queries-sticky.html
Labels: Ready for WG Review, Techniques

#386 Tech spacing override
  techniques/css/spacing-override-nonwrapping.html
  techniques/css/spacing-override-wrapping.html
  working-examples/css-text-spacing/index.html
Labels: Ready for WG Review, Techniques

#494 Tech fitting images viewport
  techniques/css/tech-fitting-images-viewport.html
Labels: Ready for WG Review, Techniques

#533 Adding a basic css file for previewing techniques/understanding
  .gitignore
  css/editors.css
  xslt/base.xslt
Labels: Editorial

#535 First draft technique changelog for review.
  techniques/index.html
Labels: Editorial change, Techniques

#509 Tech fitting labels inputs viewport
  techniques/css/C38.html
  understanding/21/reflow.html
  working-examples/css-fit-labels-inputs/index.html
Labels: Ready for publish, Techniques

#506 Tech failure content hover focus not hoverable
  techniques/failures/F95.html
  understanding/21/content-on-hover-or-focus.html
Labels: Ready for publish, Techniques
