Repository w3c/wcag, pull requests merged in 2018-10, with the labels that each got.

#484 Pointer gestures understanding: implementing mbgover's comments
  understanding/21/pointer-gestures.html
Labels: Ready for WG Review, Understanding

#435 Tech using role log
  techniques/aria/aria-log-role.html
Labels: Ready for WG Review, Techniques

#436 Example aria role log
  working-examples/example-aria-role-log/chatlog.html
  working-examples/example-aria-role-log/serverlog.html
Labels: Ready for initial review, Techniques

#486 Technique: Reflow for long URLs
  techniques/css/reflow-url.html
  working-examples/css-reflow-url/index.html
Labels: Ready for WG Review, Techniques

#516 fix: Close paragraph for validation
  techniques/css/reflow-url.html
Labels: Editorial, ErratatumRaised, Ready for WG Review
