Repository w3c/wcag, pull requests merged in 2019-07, with the labels that each got.

#543 Tech hover focus hoverable
  techniques/client-side-script/SCR39.html
  understanding/21/content-on-hover-or-focus.html
  working-examples/script-hoverable/hover-focus.css
  working-examples/script-hoverable/hover-focus.js
  working-examples/script-hoverable/index.html
Labels: Survey - Added, Techniques, WCAG 2.1

#584 Tech failure unmodifiable single key shortcut
  techniques/failures/F99.html
  techniques/index.html
  understanding/21/character-key-shortcuts.html
Labels: Survey - Added, Techniques, WCAG 2.1

#583 Technique - Two color focus indicator
  techniques/css/C40.html
  techniques/index.html
  understanding/20/focus-visible.html
  working-examples/css-two-focus-colors-2
  working-examples/css-two-focus-colors/dotted.html
  working-examples/css-two-focus-colors/lined.html
Labels: Survey - Added, Techniques, WCAG 2.0

#794 Tech control orientation
  techniques/general/G214.html
  understanding/21/orientation.html
Labels: Ready for initial review, Survey - Added, Techniques, WCAG 2.1

#790 Tech failure doorslam
  techniques/failures/F100.html
  understanding/21/orientation.html
  working-examples/failure-orientation-message/index.html
  working-examples/failure-orientation-message/surf01.jpg
  working-examples/failure-orientation-message/surf02.jpg
Labels: Survey - Added, Survey - Ready for, Techniques, WCAG 2.1

#760 Tech providing single point control sliders
  techniques/general/G215.html
  techniques/general/G216.html
  techniques/general/img/input-range.png
  understanding/21/pointer-gestures.html
  working-examples/providing-single-point-control-slider/example.css
  working-examples/providing-single-point-control-slider/example.js
  working-examples/providing-single-point-control-slider/index.html
  working-examples/providing-single-point-control-slider/pep.js
Labels: Survey - Added, Techniques, WCAG 2.1

#815 Failure technique for 2.5.2
  techniques/failures/F101.html
  understanding/21/pointer-cancellation.html
Labels: Survey - Added, Techniques, WCAG 2.1

#711 Pointer cancellation jake suggestions
  guidelines/terms/21/down-event.html
  guidelines/terms/21/single-pointer.html
  guidelines/terms/21/up-event.html
  understanding/21/pointer-cancellation.html
Labels: Survey - Ready for, Understanding, WCAG 2.1

#681 Non-text contast - Adjacent colors and example clarifications.
  understanding/21/img/simple-line-graph.png
  understanding/21/non-text-contrast.html
Labels: Survey - Added, Understanding, WCAG 2.1

#775 Updating 3rd example in H80
  techniques/html/H80.html
Labels: Survey - Accepted, Techniques, WCAG 2.0
