Repository w3c/wcag, pull requests merged in 2019-08, with the labels that each got.

#836 Create shortcut-mechanism.html
  techniques/general/G217.html
  understanding/21/character-key-shortcuts.html
Labels: Survey - Accepted

#842 Update identify-purpose.html
  understanding/21/identify-purpose.html
Labels: Survey - Added

#810 Expand understanding to include concept of accessible name
  understanding/20/consistent-identification.html
Labels: Survey - Added, Understanding

#694 Update status-messages.html
  understanding/21/status-messages.html
Labels: Survey - Added, Understanding, WCAG 2.1

#843 Tech failure content disappearing on reflow
  techniques/failures/F102.html
  techniques/index.html
  understanding/21/reflow.html
Labels: Survey - Accepted, Techniques, WCAG 2.1

#766 De-XMLifying H57 and H58 lang techniques
  techniques/html/H57.html
  techniques/html/H58.html
Labels: Survey - Added, Techniques, WCAG 2.0

#778 Updating pause-stop-hide-understanding
  understanding/20/pause-stop-hide.html
Labels: Survey - Added, Understanding, WCAG 2.0

#779 Removing DHTML note from 4.1.2
  understanding/20/name-role-value.html
Labels: Survey - Added, Understanding, WCAG 2.0

#813 Updating an example for buttons.
  understanding/21/img/button-background.png
  understanding/21/non-text-contrast.html
Labels: Survey - Ready for, Understanding, WCAG 2.1

#858 Fix links to CSS3 values in 1.4.3 and 1.4.6
  understanding/20/contrast-enhanced.html
  understanding/20/contrast-minimum.html
Labels: Technical (bug)
