Repository w3c/wcag, pull requests merged in 2019-01, with the labels that each got.

#179 Changes to H91 to add HTML5 changes
  wcag20/sources/techniques/html/H91.xml
Labels: Surveyed - Accepted

#489 updated anchors and supplied new link targets
  understanding/20/contrast-minimum.html
Labels: Ready for WG Review, Understanding

#555 Updating accname link references.
  techniques/aria/ARIA10.html
  techniques/aria/ARIA7.html
  techniques/aria/ARIA8.html
  techniques/failures/F65.html
  techniques/failures/F89.html
Labels: Ready for WG Review, Techniques

#556 Technique and example for reducing motion sc.2.3.3
  techniques/css/C39.html
  understanding/21/animation-from-interactions.html
  understanding/21/motion-actuation.html
  working-examples/css-reduced-motion-query/index.html
Labels: Ready for publish, Techniques

#550 Non-text contrast updates
  understanding/20/focus-visible.html
  understanding/21/img/button-focus-dark-border.png
  understanding/21/img/button-focus-outlines.png
  understanding/21/img/checkbox-purple.png
  understanding/21/img/checkbox.png
  understanding/21/img/radio-custom.png
  understanding/21/img/star-examples-fail.png
  understanding/21/img/star-examples-pass.png
  understanding/21/img/text-input-background-border.png
  understanding/21/non-text-contrast.html
Labels: Ready for publish, Understanding

#586 Adding pre tags for C7
  techniques/css/C7.html
Labels: Editorial

#589 Update for issue 588
  techniques/aria/ARIA13.html
Labels: Editorial

#568 Removed G139 from Situation B techniques for Status Messages Understanding doc
  understanding/21/status-messages.html
Labels: Surveyed - Accepted

#575 Fix typos in 'The relation of Reflow to... Resize Text'
  understanding/21/reflow.html
Labels: Surveyed - Accepted, Understanding
