Repository w3c/wcag, pull requests merged in 2019-04, with the labels that each got.

#456 Tech drag drop cancel
  techniques/general/G210.html
  understanding/21/pointer-cancellation.html
Labels: Ready for publish, Techniques

#545 Tech failure orientation lock
  techniques/failures/F97.html
  understanding/21/orientation.html
Labels: Ready for publish, Techniques

#685 Remove empty/unnecessary example section from understanding 2.5.5
  understanding/21/target-size.html
Labels: Understanding, WCAG 2.1

#702 Change in response to issue #658 (hard-to-parse text in Reflow Understanding)
  understanding/21/reflow.html
Labels: Ready for Survey
