Repository w3c/wcag, pull requests merged in 2020-09, with the labels that each got.

#1371 Change "criteria" to "criterion"
  guidelines/sc/22/pointer-target-spacing.html
  requirements/22/index.html
  requirements/index.html
  techniques/css/C29.html
  techniques/failures/F104.html
  techniques/failures/F106.html
  techniques/failures/F89.html
  techniques/general/G156.html
  techniques/general/G183.html
  techniques/general/G207.html
  techniques/general/G212.html
  techniques/html/H95.html
  understanding/20/contrast-minimum.html
  understanding/20/headings-and-labels.html
  understanding/20/timing-adjustable.html
  understanding/21/accessible-authentication.html
  understanding/21/content-on-hover-or-focus.html
  understanding/21/non-text-contrast.html
  understanding/21/target-size.html
  understanding/21/timeouts.html
  understanding/22/findable-help.html
  understanding/22/fixed-reference-points.html
  understanding/22/focus-appearance-minimum.html
  understanding/22/redundant-entry.html
  wcag20/sources/techniques/css/C29.xml
  wcag20/sources/techniques/failures/F68.xml
  wcag20/sources/techniques/general/G156.xml
  wcag20/sources/techniques/general/G183.xml
  wcag20/sources/techniques/general/G19.xml
  wcag20/sources/techniques/html/H95.xml
  wcag20/sources/understanding/time-limits-required-behaviors.xml
  wcag20/sources/understanding/visual-audio-contrast-contrast.xml
  wcag20/sources/wcag2ict.html
Labels: Editorial, WCAG 2.0, WCAG 2.1, WCAG 2.2

#1338 Issue 1321 add definition of mechanism
  guidelines/sc/22/pointer-target-spacing.html
Labels: Editorial change

#1366 Issue 1303 Clarification on responsible for content
  understanding/22/findable-help.html
Labels: Survey - Added

#1379 Update pointer-target-spacing.html
  understanding/22/pointer-target-spacing.html
Labels: 2.5.8 Pointer Target Spacing, Survey - Added, WCAG 2.2

#1392 Typo
  understanding/21/pointer-gestures.html
Labels: WCAG 2.1, WCAG 2.2

#1408 "Must" to "is"
  guidelines/sc/22/accessible-authentication.html
  understanding/22/accessible-authentication.html
Labels: 3.3.7 Accessible Authentication, WCAG 2.2

#1411 Moving note into the definition
  guidelines/terms/22/cognitive-function-test.html
  understanding/22/accessible-authentication.html
Labels: 3.3.7 Accessible Authentication, WCAG 2.2

#1412 Tweak to intent section.
  understanding/22/accessible-authentication.html
Labels: 3.3.7 Accessible Authentication, WCAG 2.2

#1415 Adding to 1st example bullet.
  understanding/22/accessible-authentication.html
Labels: 3.3.7 Accessible Authentication, WCAG 2.2

#1414 Update to SC text about steps
  guidelines/sc/22/accessible-authentication.html
  understanding/22/accessible-authentication.html
Labels: 3.3.7 Accessible Authentication, WCAG 2.2
