Repository w3c/wcag, pull requests merged in 2020-03, with the labels that each got.

#1071 Status message added to 2.4.11
  understanding/22/focus-visible-enhanced.html
  xslt/generate-understanding.xslt
Labels: Design & Layout, WCAG 2.2

#1079 Updated Draft of Conformance challenges for FPWD re-review
  conformance-challenges/index.html
  conformance-challenges/respec-config.js
Labels: Challenges with Conformance

#1082 Updated Conformance Challenges Draft for 17 March
  conformance-challenges/index.html
Labels: Challenges with Conformance

#1052 Underline links in the head of the spec.
  css/additional.css
  guidelines/guidelines.css
  techniques/techniques.css
  understanding/understanding.css
Labels: Technical (bug)

#1089 Updated Conformance Challenges Draft for 31 March
  conformance-challenges/index.html
Labels: Challenges with Conformance

#1037 WCAG 2.2 SC - Accessible Authentication
  guidelines/index.html
  guidelines/sc/22/accessible-authentication.html
  guidelines/terms/22/cognitive-function-test.html
  techniques/general/G218.html
  understanding/22/accessible-authentication.html
Labels: 3.3.7 Accessible Authentication, WCAG 2.2
