Repository w3c/wcag, pull requests merged in 2020-08, with the labels that each got.

#780 Removing application as a landmark from ARIA11
  techniques/aria/ARIA11.html
Labels: Survey - Added, Techniques, WCAG 2.0

#1058 Remove misleading/incorrect statement from 1.4.11 understanding
  understanding/21/non-text-contrast.html
Labels: Survey - Added, Understanding, WCAG 2.1, WCAG 2.2

#1065 Changes to examples in Understanding 1.4.11
  understanding/21/img/checkbox-example5.png
  understanding/21/img/text-input-background-focus.png
  understanding/21/img/text-input-focus.png
  understanding/21/non-text-contrast.html
Labels: 1.4.11 Non-text contrast, Survey - Added, WCAG 2.1

#1214 Dragging movement glossary definition: Deleting reference to intermediate point
  guidelines/terms/22/dragging-movement.html
Labels: 2.5.x Dragging, Survey - Added, WCAG 2.2

#1323 Adding a line to the understanding for redundant entry
  understanding/22/redundant-entry.html
Labels: 3.3.8 Redundant Entry, Survey - Ready for, WCAG 2.2

#1327 Updated understanding doc - redundant entry
  understanding/22/redundant-entry.html
Labels: 3.3.8 Redundant Entry, Survey - Ready for, WCAG 2.2

#1326 Updating understanding doc - redundant entry
  understanding/22/redundant-entry.html
Labels: 3.3.8 Redundant Entry, Survey - Ready for, WCAG 2.2

#1322 Not fully obscured
  guidelines/sc/22/focus-appearance-enhanced.html
  guidelines/sc/22/focus-appearance-minimum.html
  understanding/22/focus-appearance-enhanced.html
  understanding/22/focus-appearance-minimum.html
Labels: 2.4.11 Focus appearance (min), 2.4.12 Focus Appearance (enhanced), Survey - Added, WCAG 2.2

#1330 Adding an 8px thick indicator example
  understanding/22/focus-appearance-minimum.html
  understanding/22/img/focus-indicator-thick-short-side.png
Labels: 2.4.11 Focus appearance (min), Survey - Ready for, WCAG 2.2

#1332 Adding an example of wrapping link
  understanding/22/focus-appearance-minimum.html
  understanding/22/img/focus-inline-link.png
Labels: 2.4.11 Focus appearance (min), Survey - Ready for, WCAG 2.2

#1331 Updating user-interface-component def
  guidelines/terms/20/user-interface-component.html
Labels: 2.4.11 Focus appearance (min), Normative, Survey - Ready for, WCAG 2.2
