Repository w3c/wcag, pull requests merged in 2021-07, with the labels that each got.

#1688 Update time-limits-required-behaviors.xml
  understanding/20/timing-adjustable.html
Labels: 2.2.1 Timing Adjustable

#1898 WCAG 2.2 3.3.7: Accessible Authentication - disambiguate "paste" and "password managers"
  understanding/22/accessible-authentication.html
Labels: 3.3.7 Accessible Authentication, Survey - Ready for, Understanding, WCAG 2.2

#1952 Page Break Nav terminology clarity
  guidelines/terms/22/page-break-locators.html
  understanding/22/page-break-navigation.html
Labels: Survey - Ready for

#1549 Fix understanding images
  understanding/20/img/double-space.gif
  understanding/20/img/single-space.gif
  understanding/20/img/space-and-a-half.gif
  understanding/20/visual-presentation.html
  understanding/21/img/spacing_cutoff_fail_horizontal.png
  understanding/21/img/spacing_cutoff_fail_vertical.png
  understanding/21/img/spacing_overlap_fail.png
  understanding/21/text-spacing.html
Labels: Technical (bug), Understanding
