Repository w3c/wcag, pull requests merged in 2022-08, with the labels that each got.

#2565 Correct filename for 1.4.12 understanding
  understanding/21/text-spacing.html
Labels: WCAG 2.1, Understanding, 1.4.12 text spacing

#2585 Update UNESCO bibliographic reference
  biblio.js
Labels: WCAG 2.2

#1941 Consistency: "Resize text" > "Resize Text"
  guidelines/sc/20/resize-text.html
  techniques/failures/F94.html
  understanding/20/parsing.html
  understanding/20/resize-text.html
  understanding/20/visual-presentation.html
  understanding/toc.html
  wcag20/sources/misc/wcag2-orig.json
  wcag20/sources/misc/wcag2.json
  wcag20/sources/wcag2-src.REC.xml
  wcag20/sources/wcag2-src.xml
  wcag20/sources/wcag2ict.html
Labels: Editorial, WCAG 2.1, ErratumRaised, WCAG 2.2, WCAG 2.0

#1485 Change `touch target` to just `target`
  guidelines/terms/21/target.html
  understanding/21/target-size-enhanced.html
Labels: Survey - Ready for, WCAG 2.1, Errata, ErratumRaised, 2.5.8 Target Size (Min), 2.5.5 Target size (enhanced)

#2640 Mark Fa’afafine as Samoan
  guidelines/input-purposes.html
Labels: Editorial, WCAG 2.1, WCAG 2.2

#2654 Updating language tag links in 3.1.1 understanding
  understanding/20/language-of-page.html
Labels: WCAG 2.1, WCAG 2.2
