Repository w3c/wcag, pull requests merged in 2022-05, with the labels that each got.

#2341 Focus appearance tweaks
  guidelines/sc/22/focus-appearance-minimum.html
  understanding/22/focus-appearance-minimum.html
Labels: Survey - Ready for

#2419 3.2.6: change "SC" to "Success Criterion"
  guidelines/sc/22/consistent-help.html
  understanding/22/consistent-help.html
Labels: Editorial, Understanding, WCAG 2.2, 3.2.6 Consistent Help

#2458 Update all reference to the now moved ARIA Practices patterns and examples
  techniques/aria/ARIA1.html
  techniques/aria/ARIA10.html
  techniques/aria/ARIA11.html
  techniques/aria/ARIA12.html
  techniques/aria/ARIA13.html
  techniques/aria/ARIA14.html
  techniques/aria/ARIA15.html
  techniques/aria/ARIA16.html
  techniques/aria/ARIA18.html
  techniques/aria/ARIA19.html
  techniques/aria/ARIA2.html
  techniques/aria/ARIA4.html
  techniques/aria/ARIA5.html
  techniques/aria/ARIA6.html
  techniques/aria/ARIA9.html
  techniques/failures/F15.html
  techniques/failures/F59.html
  techniques/failures/F63.html
  understanding/21/content-on-hover-or-focus.html
  understanding/21/identify-purpose.html
  understanding/22/focus-appearance-minimum.html
  wcag20/sources/ariatechblock_template.xml
  wcag20/sources/techniques/aria/ARIA1.xml
  wcag20/sources/techniques/aria/ARIA10.xml
  wcag20/sources/techniques/aria/ARIA11.xml
  wcag20/sources/techniques/aria/ARIA12.xml
  wcag20/sources/techniques/aria/ARIA13.xml
  wcag20/sources/techniques/aria/ARIA14.xml
  wcag20/sources/techniques/aria/ARIA15.xml
  wcag20/sources/techniques/aria/ARIA16.xml
  wcag20/sources/techniques/aria/ARIA18.xml
  wcag20/sources/techniques/aria/ARIA19.xml
  wcag20/sources/techniques/aria/ARIA2.xml
  wcag20/sources/techniques/aria/ARIA4.xml
  wcag20/sources/techniques/aria/ARIA5.xml
  wcag20/sources/techniques/aria/ARIA6.xml
  wcag20/sources/techniques/aria/ARIA9.xml
  wcag20/sources/techniques/failures/F15.xml
  wcag20/sources/techniques/failures/F59.xml
  wcag20/sources/techniques/failures/F63.xml
  working-examples/providing-single-point-control-slider/index.html
Labels: Editorial, WCAG 2.1, Techniques, Understanding, WCAG 2.2, WCAG 2.0

#2445 change "groove" to "track"
  understanding/22/dragging-movements.html
Labels: WCAG 2.2, 2.5.x Dragging

#2475 Technique C41: Fix image src and links
  techniques/css/C41.html
Labels: Techniques

#2489 Update pseudo-elements
  techniques/css/C22.html
  techniques/css/C9.html
  techniques/failures/F87.html
  techniques/toc.html
Labels: Editorial, Techniques
