Repository w3c/wcag, pull requests merged in 2023-08, with the labels that each got.

#1837 Tweak 1.2.9 understanding to remove reference to "video conferences"
  understanding/20/audio-only-live.html
Labels: Editorial, Survey - Ready for, WCAG 2.1, Understanding, 1.2.x Media SCs, 1.2.9 Audio-only (Live)

#2574 Replace misleading image in 1.4.11 understanding with clearer example, tweak all other button example images with bigger text
  understanding/21/img/ntc-focus-background.png
  understanding/21/img/ntc-focus-border.png
  understanding/21/img/ntc-focus-inner-border.png
  understanding/21/img/ntc-focus-inner-outer.png
  understanding/21/img/ntc-focus-inner-white.png
  understanding/21/img/ntc-focus-inner.png
  understanding/21/img/ntc-focus-outer-green.png
  understanding/21/img/ntc-focus-outer-yellow.png
Labels: WCAG 2.1, Understanding, 1.4.11 Non-text contrast

#3284 Issue2033 contrast minimum understanding
  understanding/20/contrast-minimum.html
Labels: Survey - Added, Understanding, 1.4.3 Contrast (min)

#3295 Tweak 2.4.6 Headings and Labels understanding
  understanding/20/headings-and-labels.html
Labels: Editorial, Understanding, WCAG 2.0, 2.4.6 Headings and Labels, Async-Approval

#3216 Follow-up changes to 1.4.3 and 1.4.6 understanding documents
  understanding/20/contrast-enhanced.html
  understanding/20/contrast-minimum.html
Labels: Editorial, Understanding, WCAG 2.0, 1.4.3 Contrast (min), 1.4.6 Contrast (enh), Async-Approval

#3190 Update text alternative for target size (minimum) understanding illustrations
  understanding/22/target-size-minimum.html
Labels: Understanding, WCAG 2.2, 2.5.8 Target Size (Minimum), Async-Approval

#3363 Remove extra space
  understanding/understanding-metadata.html
Labels: Editorial
