Repository w3c/wcag, pull requests merged in 2023-03, with the labels that each got.

#2746 Focus not obscured margin technique and working example
  techniques/css/C43.html
  understanding/22/focus-not-obscured-enhanced.html
  understanding/22/focus-not-obscured-minimum.html
  working-examples/css-margin-focus-not-obscured/index.html
Labels: Survey - Added, Techniques, WCAG 2.2, 2.4.12 Focus Not Obscured (Minimum)

#2618 Add section about temporary codes/OTPs to 3.3.7 understanding
  understanding/22/accessible-authentication.html
Labels: Survey - Added, Understanding, WCAG 2.2, 3.3.7 Accessible Authentication

#3109 fix typo (failures → techniques)
  techniques/index.html
Labels: Techniques, docs redesign
