Repository w3c/wcag, pull requests merged in 2023-09, with the labels that each got.

#3277 Focus not obscured margin technique
  techniques/css/C43.html
  working-examples/css-padding-focus-not-obscured/index.html
Labels: Survey - Added, WCAG 2.2, 2.4.12 Focus Not Obscured (Minimum), 2.4.13 Focus Not Obscured (Enhanced)

#2928 Syntax highlighting for aria techniques
  techniques/aria/ARIA1.html
  techniques/aria/ARIA10.html
  techniques/aria/ARIA11.html
  techniques/aria/ARIA12.html
  techniques/aria/ARIA13.html
  techniques/aria/ARIA14.html
  techniques/aria/ARIA15.html
  techniques/aria/ARIA16.html
  techniques/aria/ARIA17.html
  techniques/aria/ARIA18.html
  techniques/aria/ARIA19.html
  techniques/aria/ARIA2.html
  techniques/aria/ARIA20.html
  techniques/aria/ARIA21.html
  techniques/aria/ARIA22.html
  techniques/aria/ARIA23.html
  techniques/aria/ARIA24.html
  techniques/aria/ARIA4.html
  techniques/aria/ARIA5.html
  techniques/aria/ARIA6.html
  techniques/aria/ARIA7.html
  techniques/aria/ARIA8.html
  techniques/aria/ARIA9.html
  working-examples/aria-alertdialog-identify-errors/index.html
  working-examples/aria-grouping-multipart-fields-ssn/index.html
Labels: Techniques, docs redesign, Async-Approval

#2987 Syntax highlighting for client side script techniques
  techniques/client-side-script/SCR1.html
  techniques/client-side-script/SCR14.html
  techniques/client-side-script/SCR16.html
  techniques/client-side-script/SCR18.html
  techniques/client-side-script/SCR19.html
  techniques/client-side-script/SCR2.html
  techniques/client-side-script/SCR20.html
  techniques/client-side-script/SCR21.html
  techniques/client-side-script/SCR22.html
  techniques/client-side-script/SCR24.html
  techniques/client-side-script/SCR26.html
  techniques/client-side-script/SCR27.html
  techniques/client-side-script/SCR28.html
  techniques/client-side-script/SCR29.html
  techniques/client-side-script/SCR30.html
  techniques/client-side-script/SCR31.html
  techniques/client-side-script/SCR32.html
  techniques/client-side-script/SCR33.html
  techniques/client-side-script/SCR34.html
  techniques/client-side-script/SCR35.html
  techniques/client-side-script/SCR36.html
  techniques/client-side-script/SCR37.html
  techniques/client-side-script/SCR38.html
  techniques/client-side-script/SCR39.html
  working-examples/script-action-buttons/index.html
  working-examples/script-action-links/index.html
  working-examples/script-check-multiple-controls/index.html
  working-examples/script-control-blink/index.html
  working-examples/script-dynamic-select/index.html
  working-examples/script-enable-alerts/index.html
  working-examples/script-expand-links/index.html
  working-examples/script-form-validation-2/css/validate.css
  working-examples/script-form-validation-2/index.php
  working-examples/script-form-validation-2/validation.zip
  working-examples/script-form-validation/index.html
  working-examples/script-hoverable/index.html
  working-examples/script-options-button-dialog/index.html
  working-examples/script-scroll-pause/index.html
  working-examples/script-scroll-text-expand/index.html
  working-examples/script-toggle-aria-alerts/index.html
  working-examples/script-toggle-navbar-link/index.html
  working-examples/script-toggle-toc-button/index.html
Labels: Editorial, Techniques, docs redesign, Async-Approval

#3053 Syntax highlighting for css techniques
  techniques/css/C12.html
  techniques/css/C13.html
  techniques/css/C14.html
  techniques/css/C15.html
  techniques/css/C17.html
  techniques/css/C18.html
  techniques/css/C19.html
  techniques/css/C20.html
  techniques/css/C21.html
  techniques/css/C22.html
  techniques/css/C23.html
  techniques/css/C24.html
  techniques/css/C25.html
  techniques/css/C27.html
  techniques/css/C28.html
  techniques/css/C29.html
  techniques/css/C30.html
  techniques/css/C31.html
  techniques/css/C32.html
  techniques/css/C33.html
  techniques/css/C34.html
  techniques/css/C35.html
  techniques/css/C36.html
  techniques/css/C37.html
  techniques/css/C38.html
  techniques/css/C39.html
  techniques/css/C40.html
  techniques/css/C41.html
  techniques/css/C42.html
  techniques/css/C6.html
  techniques/css/C7.html
  techniques/css/C8.html
  techniques/css/C9.html
  techniques/css/img/pointer-spacing-1.png
  techniques/css/img/pointer-spacing-2.png
  working-examples/css-fit-labels-inputs/index.html
  working-examples/css-fitting-images/index.html
  working-examples/css-flexbox/index.html
  working-examples/css-grid/index.html
  working-examples/css-pointer-spacing/index.html
  working-examples/css-reduced-motion-query/index.html
  working-examples/css-reflow-url/index.html
  working-examples/css-sticky/index.html
  working-examples/css-text-spacing/index.html
  working-examples/focus-pseudo-class/index.html
  working-examples/input-resize/index.html
  working-examples/radio-checkbox-resize/index.html
Labels: Techniques, docs redesign, Async-Approval

#3077 Syntax highlighting for general techniques
  techniques/general/G115.html
  techniques/general/G117.html
  techniques/general/G120.html
  techniques/general/G123.html
  techniques/general/G130.html
  techniques/general/G134.html
  techniques/general/G141.html
  techniques/general/G146.html
  techniques/general/G166.html
  techniques/general/G169.html
  techniques/general/G178.html
  techniques/general/G188.html
  techniques/general/G189.html
  techniques/general/G196.html
  techniques/general/G201.html
  techniques/general/G205.html
  techniques/general/G55.html
  techniques/general/G57.html
  techniques/general/G58.html
  techniques/general/G65.html
  techniques/general/G71.html
  techniques/general/G76.html
  techniques/general/G83.html
  techniques/general/G88.html
  techniques/general/G89.html
  techniques/general/G91.html
  techniques/general/G96.html
  working-examples/breadcrumb-trail/index.html
  working-examples/css-new-window-warn/index.html
Labels: Techniques, docs redesign, Async-Approval

#3078 Syntax highlighting for smil techniques
  techniques/smil/SM1.html
  techniques/smil/SM11.html
  techniques/smil/SM12.html
  techniques/smil/SM13.html
  techniques/smil/SM14.html
  techniques/smil/SM2.html
  techniques/smil/SM6.html
  techniques/smil/SM7.html
Labels: Techniques, docs redesign, Async-Approval

#3080 Syntax highlighting for server side techniques
  techniques/server-side-script/SVR1.html
  techniques/server-side-script/SVR2.html
  techniques/server-side-script/SVR3.html
  techniques/server-side-script/SVR4.html
  techniques/server-side-script/SVR5.html
  working-examples/server-referrer-access-nonconforming/conforming.php
  working-examples/server-referrer-access-nonconforming/non-conforming.php
Labels: Techniques, docs redesign, Async-Approval

#3349 3.2.6 Consistent Help Understanding: clarify "change initiated by the user"
  understanding/22/consistent-help.html
Labels: Survey - Added, Understanding, WCAG 2.2, 3.2.6 Consistent Help
