Repository w3c/wcag, pull requests merged in 2023-02, with the labels that each got.

#2989 fix typo
  guidelines/sc/20/parsing.html
Labels: 4.1.1 Parsing

#2994 Fixing broken footer links.
  xslt/base.xslt
Labels: WCAG 2.1

#2772 add mention of inline text links
  understanding/22/focus-appearance.html
Labels: 2.4.11 Focus appearance

#2967 Add explicit white background to 2.4.11 understanding focus indicator light example
  understanding/22/img/focus-indicator-star-with-light-focus.png
  understanding/22/img/focus-indicator-star-with-light-focus.svg
Labels: Understanding, WCAG 2.2, 2.4.11 Focus appearance

#2685 Fix typo
  understanding/22/focus-appearance.html
Labels: Editorial, WCAG 2.2, 2.4.11 Focus appearance
