Repository w3c/wcag, pull requests merged in 2023-05, with the labels that each got.

#3133 Fix F108 title, tweak G219
  techniques/failures/F108.html
  techniques/general/G219.html
  understanding/22/dragging-movements.html
Labels: Techniques, Understanding, WCAG 2.2, 2.5.7 Dragging Movements

#2905 Add 'In brief' section at start of 2.2 SCs
  understanding/22/accessible-authentication-enhanced.html
  understanding/22/accessible-authentication-minimum.html
  understanding/22/consistent-help.html
  understanding/22/dragging-movements.html
  understanding/22/focus-appearance.html
  understanding/22/focus-not-obscured-enhanced.html
  understanding/22/focus-not-obscured-minimum.html
  understanding/22/target-size-minimum.html
Labels: Survey - Accepted

#3177 Adding inactive component info to Contrast
  understanding/20/contrast-enhanced.html
  understanding/20/contrast-minimum.html
  understanding/21/non-text-contrast.html
Labels: Survey - Added

#3178 Failure for focus-not-obscured
  techniques/failures/F110.html
  understanding/22/focus-not-obscured-enhanced.html
  understanding/22/focus-not-obscured-minimum.html
Labels: Survey - Added

#1269 Updates from issue 291
  techniques/aria/ARIA11.html
Labels: Survey - Ready for, Techniques, WCAG 2.0

#2435 Issue 291
  techniques/aria/ARIA11.html
  techniques/html/H101.html
  understanding/20/info-and-relationships.html
Labels: Survey - Ready for

#3195 3193 Update Understanding Focus Not Obscured (Enhanced) to permit shading effects
  understanding/22/focus-not-obscured-enhanced.html
  understanding/22/focus-not-obscured-minimum.html
Labels: Survey - Ready for, Understanding, WCAG 2.2, 2.4.12 Focus Not Obscured (Minimum), 2.4.13 Focus Not Obscured (Enhanced)

#3194 3193 Update Understanding Focus Not Obscured
  understanding/22/focus-not-obscured-enhanced.html
  understanding/22/focus-not-obscured-minimum.html
Labels: Understanding, WCAG 2.2, 2.4.12 Focus Not Obscured (Minimum), 2.4.13 Focus Not Obscured (Enhanced)

#808 Add clarifications to understanding 3.1.2
  understanding/20/language-of-parts.html
Labels: Editorial, Survey - Ready for, Understanding, WCAG 2.0, 3.1.2 Language of Parts

#2306 update language on setting focus in a modal dialog
  understanding/20/focus-order.html
Labels: Inform Group

#2827 Update text-spacing.html
  understanding/21/text-spacing.html
Labels: Survey - Added, 1.4.12 text spacing
