Repository w3c/wcag, pull requests merged in 2023-01, with the labels that each got.

#2888 Removing legacy ITC link.
  techniques/general/G176.html
Labels: WCAG 2.1

#2896 Removing dead link
  techniques/general/G200.html
Labels: WCAG 2.1

#2925 Update ARIA5 technique
  techniques/aria/ARIA5.html
  wcag20/sources/techniques/aria/ARIA5.xml
Labels: WCAG 2.1, Techniques, WCAG 2.2, WCAG 2.0

#2718 Tweak explanation of sliders in 2.5.8 Target Size (Minimum) note
  understanding/22/target-size-minimum.html
Labels: WCAG 2.2, 2.5.8 Target Size (Minimum)

#2946 Update redundant-entry.html
  understanding/22/redundant-entry.html
Labels: Understanding, WCAG 2.2, 3.3.7 Accessible Authentication
