Repository w3c/wcag, pull requests merged in 2023-06, with the labels that each got.

#1804 Update/correct 3.3.3 understanding
  understanding/20/error-suggestion.html
Labels: Survey - Added, WCAG 2.1, Understanding, WCAG 2.0, 3.3.3 Error suggestion

#1706 Update URL to HTML Accessibility Mappings
  techniques/aria/ARIA1.html
  techniques/aria/ARIA10.html
  techniques/aria/ARIA13.html
  techniques/aria/ARIA14.html
  techniques/aria/ARIA8.html
  techniques/aria/ARIA9.html
Labels: Editorial

#2503 Delete H45 and references to it
  techniques/html/H45.html
Labels: WCAG 2.1, Techniques
