Repository w3c/wcag, pull requests merged in 2024-08, with the labels that each got.

#2270 Expand/clarify understanding for 1.4.4 Resize Text, harmonise 1.4.8 Visual Presentation
  understanding/20/resize-text.html
  understanding/20/visual-presentation.html
Labels: Understanding, WCAG 2.0, 1.4.4 Resize text, 1.4.8 Visual Presentation, Substantive

#3947 Add in new section on hover states
  understanding/21/non-text-contrast.html
Labels: Understanding, 1.4.11 Non-text contrast, Substantive

#3913 Add link underline color to 1.4.11
  understanding/21/img/checkbox-example4.png
  understanding/21/img/link-text-focus.png
  understanding/21/img/ntc-default-link-focus.png
  understanding/21/img/ntc-link-underline-only.png
  understanding/21/non-text-contrast.html
Labels: Understanding, 1.4.11 Non-text contrast, Substantive

#3956 Update C28 to mention rem units
  techniques/css/C28.html
Labels: Editorial, Techniques, 1.4.4 Resize text

#3158 Change 'non-text graphics' to the normative SC term 'non-text content'
  understanding/21/non-text-contrast.html
Labels: Editorial, 1.4.11 Non-text contrast

#2552 Correct F99 expected results
  techniques/failures/F99.html
Labels: Editorial, WCAG 2.1, Techniques, 2.1.4: Character Key Shortcuts

#3973 Link the term "accessible name" to the AccName spec's definition
  understanding/20/consistent-identification.html
  understanding/21/label-in-name.html
Labels: Editorial, Bug Fixes

#3953 Fix link text to 1.4.3 in 1.4.11
  understanding/21/non-text-contrast.html
Labels: Editorial, 1.4.11 Non-text contrast

#3915 Harmonise wording for techniques checks/steps
  techniques/aria/ARIA18.html
  techniques/client-side-script/SCR14.html
  techniques/css/C21.html
  techniques/css/C43.html
  techniques/css/C45.html
  techniques/failures/F1.html
  techniques/failures/F107.html
  techniques/failures/F109.html
  techniques/failures/F12.html
  techniques/failures/F13.html
  techniques/failures/F14.html
  techniques/failures/F15.html
  techniques/failures/F19.html
  techniques/failures/F20.html
  techniques/failures/F22.html
  techniques/failures/F23.html
  techniques/failures/F24.html
  techniques/failures/F25.html
  techniques/failures/F3.html
  techniques/failures/F30.html
  techniques/failures/F31.html
  techniques/failures/F32.html
  techniques/failures/F33.html
  techniques/failures/F34.html
  techniques/failures/F36.html
  techniques/failures/F37.html
  techniques/failures/F38.html
  techniques/failures/F39.html
  techniques/failures/F4.html
  techniques/failures/F52.html
  techniques/failures/F61.html
  techniques/failures/F67.html
  techniques/failures/F7.html
  techniques/failures/F77.html
  techniques/failures/F81.html
  techniques/failures/F84.html
  techniques/failures/F88.html
  techniques/failures/F9.html
  techniques/failures/F93.html
  techniques/failures/F97.html
  techniques/failures/F99.html
  techniques/general/G134.html
  techniques/general/G163.html
  techniques/general/G169.html
  techniques/general/G19.html
  techniques/general/G91.html
  techniques/html/H101.html
  techniques/html/H25.html
  techniques/html/H34.html
  techniques/html/H44.html
  techniques/html/H56.html
  techniques/html/H94.html
  techniques/pdf/PDF1.html
  techniques/server-side-script/SVR1.html
Labels: Editorial

#3986 Change 1.4.4 related mentions of "at least 200%" to "up to 200%"
  techniques/failures/F94.html
  techniques/general/G178.html
  understanding/21/reflow.html
Labels: Editorial, Techniques, Understanding

#3982 Update CCA link text/url
  techniques/general/G145.html
  techniques/general/G148.html
  techniques/general/G17.html
  techniques/general/G18.html
  techniques/general/G183.html
Labels: Bug Fixes

#3988 Fix indefinite article grammar before 'U' in Intro to Understanding
  understanding/intro.html
Labels: Bug Fixes

#2455 Add note to 2.1.4 Character Key Shortcuts understanding
  understanding/21/character-key-shortcuts.html
Labels: WCAG 2.1, Understanding, 2.1.4: Character Key Shortcuts, Substantive

#3981 Remove an unavailable Firefox add-on link
  techniques/general/G145.html
  techniques/general/G148.html
  techniques/general/G17.html
  techniques/general/G18.html
  techniques/general/G183.html
Labels: Editorial

#4002 Update header to use header element instead of div
  _includes/header.html
Labels: Technical (bug), Design & Layout, Bug Fixes

#3939 Make Benefits consistently a top-level section with h2 in source files
  understanding/21/animation-from-interactions.html
  understanding/21/character-key-shortcuts.html
  understanding/21/concurrent-input-mechanisms.html
  understanding/21/identify-changes.html
  understanding/21/label-in-name.html
  understanding/21/motion-actuation.html
  understanding/21/orientation.html
  understanding/21/pointer-cancellation.html
  understanding/21/pointer-gestures.html
  understanding/21/reflow.html
  understanding/21/status-messages.html
  understanding/21/target-size-enhanced.html
  understanding/understanding-template.html
Labels: Bug Fixes

#4042 Re-apply #3939 cleanly against the latest content on main
  understanding/21/animation-from-interactions.html
  understanding/21/character-key-shortcuts.html
  understanding/21/pointer-cancellation.html
Labels: Bug Fixes
