Repository w3c/wcag, pull requests merged in 2024-03, with the labels that each got.

#2057 2.5.3 - control with label but no accname (understanding note + new failure technique)
  techniques/failures/F111.html
  techniques/failures/F96.html
  understanding/21/label-in-name.html
Labels: Survey - Ready for, WCAG 2.1, Understanding, 2.5.3 Label in Name, Substantive

#3708 Update base.xslt
  xslt/base.xslt
Labels: Editorial

#3536 Update definition for single pointer
  guidelines/terms/21/single-pointer.html
Labels: ErratumRaised, WCAG 2.2, Normative

#3588 Update general understanding documents
  understanding/about.html
  understanding/conformance.html
  understanding/documenting-accessibility-support.html
  understanding/intro.html
  understanding/refer-to-wcag.html
  understanding/understanding-act-rules.html
  understanding/understanding-metadata.html
  understanding/understanding-techniques.html
  understanding/understanding-template.html
Labels: Understanding, Substantive

#3680 Change unnecessarily gendered language to plural "users" where possible
  conformance-challenges/index.html
  techniques/failures/F12.html
  techniques/failures/F9.html
  techniques/general/G115.html
  techniques/general/G163.html
  techniques/html/H49.html
  understanding/20/change-on-request.html
  understanding/20/error-prevention-legal-financial-data.html
  understanding/20/extended-audio-description-prerecorded.html
  understanding/20/images-of-text.html
  understanding/20/non-text-content.html
  understanding/20/resize-text.html
  understanding/21/character-key-shortcuts.html
  understanding/21/concurrent-input-mechanisms.html
  wcag20/Techniques/working-examples/H49/semantictext.html
  working-examples/semantic-text/index.html
Labels: Editorial, Techniques, Understanding

#3740 add lang attribute to document
  working-examples/link-contrast/index.html
Labels: Techniques, Bug Fixes
