Repository w3c/wcag, pull requests merged in 2024-07, with the labels that each got.

#3909 Grammar fix in use-of-color.html
  understanding/20/use-of-color.html
Labels: Editorial, Understanding, 1.4.1 Use of Color

#3096 Update test for H71.html
  techniques/html/H71.html
Labels: Editorial, Techniques

#3901 Editorial changes to Target Size Enhanced
  understanding/21/target-size-enhanced.html
Labels: Editorial, Understanding, Bug Fixes

#3824 Updated Page Titled for better links
  understanding/20/page-titled.html
Labels: Editorial, Understanding, 2.4.2 Page Titled

#3739 Updates test steps in F94
  techniques/failures/F94.html
Labels: Editorial, Techniques

#3888 Update labels-or-instructions.html
  understanding/20/labels-or-instructions.html
Labels: Editorial, Understanding

#2137 Update H39.html
  techniques/html/H39.html
Labels: Editorial, Techniques

#3540 Remove leftover references to Flash techniques
  guidelines/wcag.json
  understanding/20/link-purpose-in-context.html
  understanding/20/link-purpose-link-only.html
Labels: Technical (bug), Understanding

#3978 Don't force term names to lowercase in definition lists
  11ty/CustomLiquid.ts
  11ty/guidelines.ts
Labels: Bug Fixes

#3932 Fix broken description paragraph for SM6
  techniques/smil/SM6.html
Labels: Technical (bug), Techniques

#3929 Update link in 3.2.6 understanding
  understanding/22/consistent-help.html
Labels: Technical (bug), Understanding

#3944 Fix link in Timing Adjustable
  understanding/20/timing-adjustable.html
Labels: Understanding, Bug Fixes

#3775 Technique F110 - Added examples for sticky header and sticky footer that covers completely elements receiving focus
  techniques/failures/F110.html
  working-examples/sticky-elements-hiding-focused-elements/sticky-footer.html
  working-examples/sticky-elements-hiding-focused-elements/sticky-header.html
Labels: Techniques, 2.4.11 Focus Not Obscured (Minimum), Substantive

#3930 Simplify/correct definition links
  techniques/aria/ARIA22.html
  techniques/client-side-script/SCR19.html
  techniques/failures/F103.html
  techniques/failures/F109.html
  techniques/failures/F61.html
  techniques/general/G212.html
  techniques/server-side-script/SVR3.html
  understanding/20/name-role-value.html
  understanding/20/three-flashes-or-below-threshold.html
  understanding/22/focus-appearance.html
  understanding/intro.html
Labels: Editorial, Techniques, Understanding

#3701 Update broken link, remove double link in F47
  techniques/failures/F47.html
Labels: Editorial, Techniques, Bug Fixes

#2358 Updating broken and outdated links in ARIA6
  techniques/aria/ARIA6.html
Labels: Editorial, Techniques, Bug Fixes

#3702 Replace broken link in G56
  techniques/general/G56.html
Labels: Techniques, Bug Fixes

#2984 Updating example in On Input Understanding within note
  understanding/20/on-input.html
Labels: Editorial, Understanding, 3.2.2 On Input
