Repository w3c/wcag, pull requests merged in 2024-06, with the labels that each got.

#3854 Update references in non-normative docs
  understanding/20/focus-order.html
Labels: Editorial, Understanding

#2630 Expand 1.4.10 Reflow note about 200% and breakpoints, add matching note to 1.4.4 Resize Text
  understanding/20/resize-text.html
  understanding/21/reflow.html
Labels: WCAG 2.1, Understanding, WCAG 2.2, 1.4.10 Reflow, 1.4.4 Resize text, Substantive

#3818 Remove failure technique F87
  techniques/failures/F87.html
  techniques/index.html
  understanding/20/info-and-relationships.html
Labels: Techniques, WCAG 2.2, Substantive

#3817 Small edit: Connect G214 and F97 as related techniques
  techniques/failures/F97.html
  techniques/general/G214.html
Labels: Editorial, Techniques, 1.3.4 Orientation

#3765 Update left to side navigation for focus-not-obscured-minimum
  understanding/22/focus-not-obscured-minimum.html
Labels: Editorial, Understanding, 2.4.11 Focus Not Obscured (Minimum)

#3874 Tweak F55 to fix broken/partial link text
  techniques/failures/F55.html
Labels: Bug Fixes

#3863 Update F26.html
  techniques/failures/F26.html
Labels: Editorial, Techniques
