Repository w3c/wcag, pull requests merged in 2024-12, with the labels that each got.

#1021 Update F103 to remove progressbar as it's not an implicit live region
  techniques/failures/F103.html
Labels: Techniques, Substantive

#2150 Update H95.html
  techniques/html/H95.html
Labels: Editorial, Techniques, Bug Fixes

#1699 Aria22 modification for aria-atomic
  techniques/aria/ARIA22.html
  working-examples/aria-role-status-searchresults/index.html
  working-examples/aria-role-status-shoppingcart/index.html
Labels: Techniques, Substantive

#2339 Update ARIA11 to address issue #1308
  techniques/aria/ARIA11.html
Labels: Techniques

#4057 Tweak the concept of "draw" in 2.5.8 understanding for the spacing checks
  understanding/22/target-size-minimum.html
Labels: Editorial, Understanding, 2.5.8 Target Size (Minimum)

#3966 update Target Size Minimum to add scrollbar example
  understanding/22/img/target-custom-scrollbar-spacing.svg
  understanding/22/target-size-minimum.html
Labels: Understanding, 2.5.8 Target Size (Minimum), Substantive
