Repository w3c/wcag, pull requests merged in 2024-05, with the labels that each got.

#1651 Rewrite for 3.3.1 Error Identification understanding document
  understanding/20/error-identification.html
Labels: Survey - Added, WCAG 2.1, Understanding, WCAG 2.0, 3.3.1 Error Identification, Substantive

#3638 Restore Target Size (Enhanced) Understanding Doc content
  understanding/21/target-size-enhanced.html
Labels: Understanding, 2.5.5 Target size (Enhanced), Substantive

#3518 Change `<ol>` to `<ul>` when no order is intended (non-normative)
  conformance-challenges/index.html
  understanding/20/headings-and-labels.html
  understanding/20/use-of-color.html
  understanding/21/content-on-hover-or-focus.html
  understanding/21/interruptions-minimum.html
  understanding/21/text-spacing.html
  understanding/22/accessible-authentication-enhanced.html
  understanding/22/accessible-authentication-minimum.html
  understanding/22/consistent-help.html
  understanding/22/dragging-movements.html
  understanding/22/focus-appearance.html
  understanding/22/focus-not-obscured-enhanced.html
  understanding/22/focus-not-obscured-minimum.html
  understanding/22/target-size-minimum.html
Labels: Editorial

#3272 Add sufficient technique for 2.4.7 using `:focus-visible`
  techniques/css/C15.html
  techniques/css/C40.html
  techniques/css/C45.html
  techniques/general/G165.html
  techniques/general/G195.html
  understanding/20/focus-visible.html
  working-examples/css-focus-visible/index.html
Labels: Survey - Ready for, Techniques, WCAG 2.0, 2.4.7 Focus Visible

#3813 Update usability glossary deep link
  techniques/general/G63.html
Labels: Technical (bug), Techniques, Bug Fixes

#3481 Broken link fixes to 2.2 documents
  techniques/aria/ARIA20.html
  techniques/aria/ARIA24.html
  techniques/client-side-script/SCR38.html
  techniques/css/C30.html
  techniques/failures/F105.html
  techniques/failures/F41.html
  techniques/failures/F42.html
  techniques/failures/F47.html
  techniques/failures/F59.html
  techniques/failures/F63.html
  techniques/failures/F65.html
  techniques/failures/F75.html
  techniques/failures/F90.html
  techniques/failures/F91.html
  techniques/html/H33.html
  techniques/html/H86.html
  techniques/html/H88.html
  techniques/html/H98.html
Labels: Editorial, Technical (bug)

#3820 add related technique (h71) to F82
  techniques/failures/F82.html
Labels: Editorial, Techniques

#3814 make F73 less shouty
  techniques/failures/F73.html
Labels: Editorial, Techniques

#3794 Expand video fix to `#examples video`
  css/base.css
Labels: Bug Fixes

#2244 Technique G183: expand example 2 to actually illustrate the technique's point
  techniques/general/G183.html
Labels: Editorial, WCAG 2.1, Techniques, WCAG 2.0, 1.4.1 Use of Color, Substantive

#3821 Update F91 to remove unrelated techniques
  techniques/failures/F91.html
Labels: Editorial, Techniques
