Repository w3c/wcag, pull requests merged in 2024-10, with the labels that each got.

#4052 Add F42 as failure for 4.1.2
  understanding/20/name-role-value.html
Labels: Editorial, Techniques

#3534 Update C43 to add test case for Focus Not Obscured Enhanced
  techniques/css/C43.html
Labels: Editorial, Techniques, 2.4.11 Focus Not Obscured (Minimum), 2.4.12 Focus Not Obscured (Enhanced)

#4038 Update text-spacing with editorial improvements
  understanding/21/text-spacing.html
Labels: Editorial, Understanding

#754 Change on Request update for issue #738
  understanding/20/change-on-request.html
Labels: Editorial, Understanding, WCAG 2.0

#4027 Add more information/links to HTML-related obsolete messages
  techniques/html/H35.html
  techniques/html/H45.html
  techniques/html/H46.html
  techniques/html/H59.html
  techniques/html/H70.html
  techniques/html/H73.html
Labels: Bug Fixes

#4074 Updated F52 page title and h1 heading to match the related SC
  techniques/failures/F52.html
Labels: Techniques

#4021 Add note about the scope of 1.4.5 Images of Text (images used *rather than* text) and example
  understanding/20/images-of-text.html
Labels: WCAG 2.0, 1.4.5 Images of text, Substantive
