Repository w3c/wcag, pull requests merged in 2024-02, with the labels that each got.

#2970 Remove technique H59
  techniques/html/H59.html
  understanding/20/location.html
  understanding/20/multiple-ways.html
  wcag20/Techniques/ua-notes/html.html
  wcag20/sources/techniques/aria.xml
  wcag20/sources/techniques/client-side-script.xml
  wcag20/sources/techniques/css.xml
  wcag20/sources/techniques/failures.xml
  wcag20/sources/techniques/general.xml
  wcag20/sources/techniques/html.xml
  wcag20/sources/techniques/html/H59.xml
  wcag20/sources/techniques/pdf.xml
  wcag20/sources/techniques/server-side-script.xml
  wcag20/sources/techniques/silverlight.xml
  wcag20/sources/techniques/smil.xml
  wcag20/sources/techniques/text.xml
  wcag20/sources/understanding/navigation-mechanisms-location.xml
  wcag20/sources/understanding/navigation-mechanisms-mult-loc.xml
Labels: Techniques, WCAG 2.0, Substantive

#2067 Add section on symbolic text characters to 1.4.11 understanding
  understanding/21/img/buttons-text-symbols.png
  understanding/21/non-text-contrast.html
Labels: WCAG 2.1, Understanding, 1.4.11 Non-text contrast, Substantive

#3309 Update accessible-authentication-minimum.html
  understanding/22/accessible-authentication-minimum.html
Labels: Editorial, Understanding, 3.3.8 Accessible Authentication (Minimum), Substantive

#3568 Add clarification that change of color still needs sufficient 3:1 ratio, darken focused star
  understanding/22/focus-appearance.html
  understanding/22/img/focus-indicator-whole-star.png
  understanding/22/img/focus-indicator-whole-star.svg
Labels: Editorial, Understanding, WCAG 2.2, 2.4.11 Focus appearance

#1713 Tweak bypass blocks understanding
  understanding/20/bypass-blocks.html
Labels: Editorial, Survey - Ready for, Understanding, WCAG 2.0

#1642 Add two notes/clarifications to 2.1.1/2.1.3 understanding
  understanding/20/keyboard-no-exception.html
  understanding/20/keyboard.html
Labels: Survey - Ready for, WCAG 2.1, Understanding, WCAG 2.0, 2.1.1 Keyboard, 2.1.3 Keyboard (No Exception), Substantive

#3560 Add anti-aliasing note to 1.4.11
  understanding/21/non-text-contrast.html
Labels: WCAG 2.1, Understanding, 1.4.11 Non-text contrast, Substantive

#3650 Remove H75
  techniques/failures/F77.html
  techniques/html/H75.html
  techniques/html/H88.html
  understanding/20/parsing.html
Labels: Techniques, Substantive

#1803 Update/correct 3.3.1 understanding
  understanding/20/error-identification.html
Labels: WCAG 2.1, Understanding, WCAG 2.0, 3.3.1 Error Identification, Substantive

#2681 1.4.11 Non-text Contrast understanding: expand explanation for Figure 10
  understanding/21/non-text-contrast.html
Labels: Editorial, WCAG 2.1, Understanding, WCAG 2.2, 1.4.11 Non-text contrast

#3648 Remove H70 as framesets are obsolete
  techniques/client-side-script/SCR28.html
  techniques/html/H70.html
  understanding/20/bypass-blocks.html
Labels: Techniques, Substantive

#3653 Remove SCR21 and update page that links to it
  techniques/client-side-script/SCR21.html
  techniques/general/G108.html
  understanding/20/info-and-relationships.html
Labels: Techniques, Substantive

#3601 Update F110
  techniques/failures/F110.html
Labels: Editorial, Techniques

#3625 Change "video description" to "audio description" in 1.2.1 understanding
  understanding/20/audio-only-and-video-only-prerecorded.html
Labels: Editorial, Understanding, 1.2.x Media SCs
