Repository w3c/wcag, pull requests merged in 2024-04, with the labels that each got.

#3699 Improve readability of Understanding 2.5.8 - target size minimum text
  understanding/22/target-size-minimum.html
Labels: Understanding, 2.5.8 Target Size (Minimum), Substantive

#3657 Amend the note for focus appearance
  guidelines/sc/22/focus-appearance.html
Labels: Editorial, ErratumRaised, 2.4.11 Focus appearance

#3735 Editorial: target size 'equivalent' understanding doc update
  understanding/22/target-size-minimum.html
Labels: Editorial, Understanding

#2725 Update label-in-name.html
  techniques/general/G211.html
  techniques/general/img/stacked-label.png
  understanding/21/label-in-name.html
  working-examples/label-in-name-general/example1.html
  working-examples/label-in-name-general/example2.html
  working-examples/label-in-name-general/example3.html
  working-examples/label-in-name-general/example4.html
Labels: Understanding, Substantive

#3762 Add alt text to images
  techniques/general/G162.html
  techniques/general/G167.html
  techniques/general/G56.html
Labels: Editorial, Bug Fixes

#3752 SC 2.5.7 Dragging Movements Understanding Doc - 2.5.1 link now points to WCAG 2.2 instead of WCAG 2.1
  understanding/22/dragging-movements.html
Labels: Editorial, Technical (bug)

#3754 Clarification for applicability of F15 technique & 4.1.2
  techniques/failures/F15.html
  understanding/20/name-role-value.html
Labels: Techniques, Understanding, Substantive

#3744 Add clarification regarding specific pages within a set of web pages that lack a help mechanism
  understanding/22/consistent-help.html
Labels: Editorial, Understanding, WCAG 2.2, 3.2.6 Consistent Help

#3763 Add references between failure techniques and Focus Appearance understanding
  techniques/failures/F55.html
  techniques/failures/F78.html
  understanding/22/focus-appearance.html
Labels: Editorial, Techniques

#3736 Delete G187 and files that link to it
  techniques/client-side-script/SCR36.html
  techniques/general/G11.html
  techniques/general/G187.html
  techniques/general/G191.html
  understanding/20/pause-stop-hide.html
Labels: Techniques, Substantive

#3779 Removed H35 from 1.1.1 understanding doc
  understanding/20/non-text-content.html
Labels: Technical (bug), Techniques, 1.1.1 Non-text content

#3705 Fix typo in non-text-contrast.html
  understanding/21/non-text-contrast.html
Labels: Editorial, Understanding
