Repository w3c/wcag, pull requests merged in 2024-01, with the labels that each got.

#2515 Re-title and update H63 (Using the scope attribute to associate header cells and data cells in data tables)
  techniques/html/H63.html
Labels: WCAG 2.1, Techniques

#3341 Update Focus Obscured (Minimum) to add examples
  understanding/22/focus-not-obscured-minimum.html
Labels: Survey - Added, WCAG 2.2, 2.4.11 Focus Not Obscured (Minimum)

#2316 Understanding 1.4.2: fix link to 1.4.7
  understanding/20/audio-control.html
Labels: Editorial, Understanding, WCAG 2.0, 1.4.2: Audio Control

#3145 Rename 3.3.8 Accessible Authentication (add "(Minimum)")
  techniques/general/G218.html
  techniques/html/H100.html
  understanding/22/accessible-authentication-enhanced.html
  understanding/22/accessible-authentication-minimum.html
  understanding/22/redundant-entry.html
Labels: Editorial, Understanding, WCAG 2.2, 3.3.8 Accessible Authentication (Minimum)

#1792 Tweak 3.3.2 understanding benefits to align with intent
  understanding/20/labels-or-instructions.html
Labels: Survey - Ready for, WCAG 2.1, Understanding, WCAG 2.0, 3.3.2 Labels or instructions, Substantive

#3559 1.4.4 Understanding: Remove paragraph about IE 6, tweak subsequent paragraph
  understanding/20/resize-text.html
Labels: Understanding, 1.4.4 Resize text

#1547 Remove 'active' altogether from 1.4.11 Understanding
  understanding/21/non-text-contrast.html
Labels: Editorial, Survey - Ready for, WCAG 2.1, Understanding, 1.4.11 Non-text contrast

#3505 Fix image presentation in pdf1
  techniques/pdf/PDF1.html
  techniques/pdf/PDF3.html
  techniques/pdf/img/acrobat-set-alternate-text.png
  techniques/pdf/img/word-set-alternate-text.png
  working-examples/pdf-alt-entry-to-an-image/alt-entry-to-an-image.docx
  working-examples/pdf-alt-entry-to-an-image/alt-entry-to-an-image.pdf
Labels: Editorial, Techniques

#1826 Reword F23
  techniques/failures/F23.html
Labels: Survey - Ready for, WCAG 2.1, Techniques, WCAG 2.0, 1.4.2: Audio Control, Substantive

#1517 Tweak understanding for 1.2.6: Sign Language (Prerecorded)
  understanding/20/sign-language-prerecorded.html
Labels: Survey - Ready for, WCAG 2.1, Understanding, WCAG 2.0, 1.2.6 Sign Language (Prerecorded), Substantive

#3595 Link in Related Resources not working as expected in Understanding SC 3.3.8: Accessible Authentication (Minimum)
  understanding/22/accessible-authentication-minimum.html
Labels: Editorial, WCAG 2.2, 3.3.8 Accessible Authentication (Minimum)

#3557 Fix incorrect links to Focus Appearance
  understanding/20/focus-visible.html
Labels: Editorial, Technical (bug), Understanding, WCAG 2.2, 2.4.7 Focus Visible

#3597 Links with different names pointing to equal resources in Related Resources in Understanding SC 3.3.8: Accessible Authentication (Minimum)
  understanding/22/accessible-authentication-minimum.html
Labels: Editorial, WCAG 2.2, 3.3.8 Accessible Authentication (Minimum)

#3605 Fixed Figure 10 broken link to Focus Appearance on the Understanding Document for Non-text contrast
  understanding/21/non-text-contrast.html
Labels: 1.4.11 Non-text contrast, Bug Fixes

#3476 Add paragraph about non-transcribed CAPTCHA audio
  understanding/22/accessible-authentication-minimum.html
Labels: Understanding, 3.3.8 Accessible Authentication (Minimum)

#910 Tweaks/additions to Understanding Pointer Gestures
  understanding/21/img/path-based-gesture-1.png
  understanding/21/img/path-based-gesture-2.png
  understanding/21/img/path-based-gesture-3.png
  understanding/21/pointer-gestures.html
Labels: Survey - Ready for, WCAG 2.1, Understanding, 2.5.1 Pointer Gestures, Substantive

#3608 Fixed Benefits and Examples in the 1.4.10 Reflow Understanding Document for consistency with other SC
  understanding/21/reflow.html
Labels: Substantive

#2036 Tweak section headings understanding wording
  understanding/20/section-headings.html
Labels: Survey - Ready for, WCAG 2.1, Understanding, 2.4.10 Section Headings

#1816 Tweak 1.4.10 Reflow understanding intent
  understanding/21/reflow.html
Labels: Editorial, Survey - Ready for, WCAG 2.1, Understanding, 1.4.10 Reflow

#1823 ARIA9 change "label" to "name" when it refers to accessible name
  techniques/aria/ARIA9.html
Labels: Editorial, Survey - Ready for, WCAG 2.1, Techniques, WCAG 2.0

#3645 Fix link text in understanding 1.2.3
  understanding/20/audio-description-or-media-alternative-prerecorded.html
Labels: Understanding, Bug Fixes
