Repository w3c/wcag, pull requests merged in 2025-05, with the labels that each got.

#4147 2.4.6-headings-and-labels-descriptive-icons
  understanding/20/headings-and-labels.html
Labels: Understanding, 2.4.6 Headings and Labels, Substantive

#4276 Restyle figures and captions
  11ty/CustomLiquid.ts
  css/base.css
Labels: Editorial, Bug Fixes

#4257 Replaces the previous name of the working group in Understanding
  _includes/understanding/intro/failure.html
  _includes/understanding/intro/techniques.html
  understanding/20/reading-level.html
  understanding/20/unusual-words.html
  understanding/conformance.html
  understanding/understanding-techniques.html
Labels: Editorial, Understanding

#4268 Improve wording of first example for path-based gesture
  understanding/21/pointer-gestures.html
Labels: Editorial, Understanding, 2.5.1 Pointer Gestures

#4282 Update redundant-entry.html
  understanding/22/redundant-entry.html
Labels: Editorial, Understanding

#4311 Update resource links in images of text
  understanding/20/images-of-text.html
Labels: Editorial, Understanding, 1.4.5 Images of text

#4357 Extra whitespace in 5.3.2 Optional Components of a Conformance Claim
  guidelines/index.html
Labels: Bug Fixes

#4349 Remove the confusing "not necessarily limited" part of the 1.3.4 Orientation note and expand
  guidelines/sc/21/orientation.html
Labels: ErratumRaised, Non-Normative

#4365 Update understanding conformance and technique G73 to remove mention of `longdesc`
  techniques/general/G73.html
  understanding/conformance.html
Labels: Editorial, Techniques, Understanding

#4351 Add link to NIST SP 800-63B 2nd public draft to 3.3.8 / 3.3.9 understanding
  understanding/22/accessible-authentication-enhanced.html
  understanding/22/accessible-authentication-minimum.html
Labels: Understanding, 3.3.9 Accessible Authentication (Enhanced), 3.3.8 Accessible Authentication (Minimum), Substantive

#4335 Some editorial updates to Understanding SC 2.5.3
  understanding/21/label-in-name.html
Labels: Editorial, Bug Fixes

#4391 Note #4166 and #4055 in Techniques change log
  _includes/techniques/changelog/21.html
  _includes/techniques/changelog/22.html
Labels: Bug Fixes

#4355 Replace incorrect/outdated statement about tech support in 3.3.1 understanding
  understanding/20/error-identification.html
Labels: Understanding, 3.3.1 Error Identification, Bug Fixes
