Repository w3c/wcag, pull requests merged in 2025-10, with the labels that each got.

#4578 SVR1: Update links
  techniques/server-side-script/SVR1.html
Labels: Editorial

#4566 Remove aspirational mention of techniques update frequency
  understanding/understanding-techniques.html
Labels: Editorial

#4524 Update non-text contrast for caret styling
  understanding/21/img/contrast-text-input-custom-caret.png
  understanding/21/non-text-contrast.html
Labels: 1.4.11 Non-text contrast, Substantive

#4529 Add "label in name" note to ARIA8 technique
  techniques/aria/ARIA8.html
Labels: WCAG 2.1, Techniques, 2.5.3 Label in Name

#4538 Reintroduced "structure" and "presentation" terms
  understanding/20/adaptable.html
Labels: Understanding, WCAG 2.0

#4542 Text spacing - Addressed the concern that Japanese does have words
  understanding/21/text-spacing.html
Labels: Editorial, WCAG 2.1, 1.4.12 Text Spacing

#4642 Typo in media-alternative-prerecorded.html
  understanding/20/media-alternative-prerecorded.html
Labels: Understanding, Bug Fixes, 1.2.8 Media Alternative

#4523 Generate IDs for sectionless headings, and improve/fix existing IDs
  11ty/CustomLiquid.ts
  package-lock.json
  package.json
  understanding/understanding-techniques.html
Labels: Bug Fixes

#4564 Replace straggler WAI/WCAG21 links to WAI/WCAG22
  techniques/html/H4.html
  techniques/html/H70.html
  techniques/html/H73.html
  techniques/html/H74.html
  techniques/html/H75.html
  techniques/html/H88.html
Labels: Bug Fixes
