Repository w3c/wcag, pull requests merged in 2025-03, with the labels that each got.

#4195 [WCAG AAA] - Move H28 from sufficient to advisory in 3.1.4 Abbreviations SC
  techniques/html/H28.html
  understanding/20/abbreviations.html
Labels: Understanding, 3.1.4 Abbreviations, Substantive

#4238 fix code sample bug
  techniques/failures/F50.html
Labels: Techniques, Bug Fixes

#4248 C41: Fix path to Understanding image
  techniques/css/C41.html
Labels: Techniques, Bug Fixes

#4251 Remove redundant word "Rules"
  understanding/understanding-act-rules.html
Labels: Editorial, Bug Fixes
