Repository w3c/wcag, pull requests merged in 2025-09, with the labels that each got.

#4551 Remove broken NCAM link
  techniques/general/G173.html
  techniques/general/G87.html
  understanding/20/audio-description-or-media-alternative-prerecorded.html
  understanding/20/audio-description-prerecorded.html
  understanding/20/extended-audio-description-prerecorded.html
  understanding/20/sign-language-prerecorded.html
Labels: Editorial, Bug Fixes

#4531 Fixed minor typo (missing closing parenthesis)
  techniques/general/G183.html
Labels: Editorial, Bug Fixes

#4563 Add "either" to statement about label and control in H44
  techniques/html/H44.html
Labels: Editorial, Techniques

#4541 Added link text for empty link directing to Understanding Techniques
  understanding/conformance.html
Labels: Editorial, Conformance WCAG 2.x

#4520 [Techniques] remove external highlight.js
  techniques/client-side-script/SCR14.html
  techniques/css/C13.html
  techniques/css/C15.html
  techniques/css/C18.html
Labels: Techniques, Bug Fixes

#4610 Remove unnecessary class attributes from code elements in TR space
  guidelines/input-purposes.html
Labels: Normative, Bug Fixes

#4619 JSON generation: Generate techniques field on SCs from data
  11ty/json.ts
Labels: wcag.json

#4627 highlight.js: Add missing overrides, update version, and run at build time
  11ty/CustomLiquid.ts
  _includes/waiscript.html
  eleventy.config.ts
  package-lock.json
  package.json
  script/highlight.min.js
  techniques/aria/ARIA24.html
  techniques/client-side-script/SCR37.html
  techniques/css/C15.html
  techniques/css/C43.html
  techniques/css/C45.html
  techniques/css/C8.html
  techniques/failures/F111.html
  techniques/failures/F71.html
  techniques/general/G224.html
  techniques/general/G91.html
  techniques/html/H35.html
  techniques/html/H4.html
  techniques/html/H45.html
  techniques/html/H46.html
  techniques/html/H56.html
  techniques/html/H58.html
  techniques/html/H59.html
  techniques/html/H60.html
  techniques/html/H62.html
  techniques/html/H70.html
  techniques/html/H73.html
  techniques/pdf/PDF1.html
  techniques/pdf/PDF10.html
  techniques/pdf/PDF11.html
  techniques/pdf/PDF12.html
  techniques/pdf/PDF13.html
  techniques/pdf/PDF16.html
  techniques/pdf/PDF17.html
  techniques/pdf/PDF18.html
  techniques/pdf/PDF19.html
  techniques/pdf/PDF2.html
  techniques/pdf/PDF20.html
  techniques/pdf/PDF23.html
  techniques/pdf/PDF4.html
  techniques/pdf/PDF5.html
  techniques/pdf/PDF6.html
  techniques/pdf/PDF8.html
  techniques/pdf/PDF9.html
  understanding/20/language-of-parts.html
  understanding/conformance.html
Labels: Bug Fixes
