Repository w3c/wcag, pull requests merged in 2025-02, with the labels that each got.

#4125 Update text-spacing.html
  understanding/21/text-spacing.html
Labels: Understanding, 1.4.12 text spacing, Substantive

#4104 Suggested additional note for focus-not-obscured
  understanding/22/focus-not-obscured-minimum.html
Labels: Understanding, 2.4.11 Focus Not Obscured (Minimum), Substantive

#4196 Updated 2.5.8 Target Size (Minimum) Understanding Doc to add more clarity to the User agent control bit in Exceptions
  understanding/22/target-size-minimum.html
Labels: Editorial, Understanding, 2.5.8 Target Size (Minimum)
