Repository w3c/wcag, pull requests merged in 2025-04, with the labels that each got.

#1211 Clarify title of Failure F108
  techniques/failures/F108.html
Labels: Editorial

#4255 remove dead link to an RNIB blog
  understanding/20/link-purpose-in-context.html
  understanding/20/link-purpose-link-only.html
Labels: Editorial, 2.4.4 Link Purpose (In Context)

#4171 Update H91.html to remove reference to a removed table
  techniques/html/H91.html
Labels: Editorial, Techniques, Bug Fixes

#2466 update ARIA 17 and supporting working examples
  techniques/aria/ARIA17.html
  working-examples/aria-grouping-multipart-fields-ssn/index.html
  working-examples/aria-grouping-related-fields/index.html
Labels: Editorial, Techniques, Substantive

#2143 update terminology: color blind
  understanding/20/use-of-color.html
Labels: Editorial, Understanding, 1.4.1 Use of Color

#4277 Add missing quotation mark
  techniques/failures/F24.html
Labels: Bug Fixes

#4286 Add missing headings to 1.4.8 Visual Presentation
  understanding/20/visual-presentation.html
Labels: Bug Fixes

#4240 Modified examples in Language of parts
  understanding/20/language-of-parts.html
Labels: 3.1.2 Language of Parts, Substantive

#4262 Alternatives match language
  techniques/general/G158.html
  techniques/general/G159.html
  techniques/general/G166.html
  techniques/general/G173.html
  techniques/general/G69.html
  techniques/general/G78.html
  techniques/general/G8.html
  techniques/general/G87.html
  techniques/general/G9.html
  techniques/general/G93.html
  understanding/20/audio-description-or-media-alternative-prerecorded.html
  understanding/20/audio-description-prerecorded.html
  understanding/20/media-alternative-prerecorded.html
  understanding/20/non-text-content.html
  understanding/20/text-alternatives.html
  understanding/20/time-based-media.html
Labels: Understanding, Substantive

#4293 Add outline to low-contrast star icons in ARIA icon font working example
  working-examples/aria-icon-font-img-role/index.html
Labels: Editorial, Working Examples

#4166 Replace f4 and f47
  techniques/failures/F112.html
  techniques/failures/F4.html
  techniques/failures/F47.html
  understanding/20/pause-stop-hide.html
Labels: Techniques, 2.2.2 Pause stop hide

#4353 Fix unclosed </a> tags in understanding pages
  understanding/20/non-text-content.html
  understanding/20/text-alternatives.html
  understanding/20/time-based-media.html
Labels: Bug Fixes
