Repository w3c/wcag, pull requests merged in 2025-01, with the labels that each got.

#4102 Update 3.3.2 understanding doc and g167 technique
  techniques/general/G167.html
  techniques/general/img/button-send-message.jpg
  techniques/general/img/search-button-icon-label.png
  understanding/20/labels-or-instructions.html
Labels: Techniques, Understanding, 3.3.2 Labels or instructions, Substantive

#4128 Update F2.html
  techniques/failures/F2.html
Labels: Techniques, Substantive

#4148 Adjusting coverage statement
  _includes/understanding/intro/techniques.html
Labels: Editorial, Understanding

#3214 update to focus placement for modal dialogs
  techniques/failures/F85.html
Labels: Techniques, 2.4.3 Focus Order, Substantive

#4201 Resolve remaning build warnings and prevent future instances
  11ty/CustomLiquid.ts
  techniques/failures/F61.html
  understanding/21/input-modalities.html
Labels: Bug Fixes
