Repository w3c/wcag, pull requests merged in 2025-08, with the labels that each got.

#4476 H98 Remove HTML 5.2
  techniques/html/H98.html
Labels: Editorial, Techniques

#4474 G224: fix missing close parenthesis
  techniques/general/G224.html
Labels: Editorial, Techniques

#4472 Use "color vision deficiency" instead of "colorblindness"
  techniques/failures/F13.html
  techniques/general/G183.html
  understanding/20/contrast-minimum.html
  understanding/20/error-identification.html
  understanding/20/use-of-color.html
  working-examples/link-contrast/index.html
Labels: Editorial, Techniques, Understanding

#4372 Add a "don't clear form fields on a submission error" example to 3.3.7
  understanding/22/redundant-entry.html
Labels: Understanding, 3.3.7 Redundant Entry, Substantive

#4462 Add link to "Declaring language in HTML" to 3.1.1, 3.1.2, H57, H58
  techniques/html/H57.html
  techniques/html/H58.html
  understanding/20/language-of-page.html
  understanding/20/language-of-parts.html
Labels: Editorial, Techniques, Understanding

#1025 Update reference link in Understanding of SC 2.4.2 (Page Titled)
  understanding/20/page-titled.html
Labels: Editorial, 2.4.2 Page Titled

#4535 Print tip about restarting dev server for certain cases
  .eleventyignore
  eleventy.config.ts
Labels: Bug Fixes

#1023 Update ARIA11
  techniques/aria/ARIA11.html
Labels: Techniques, Substantive

#4513 Add missing meta charset and remove editors stylesheet at build time
  11ty/CustomLiquid.ts
  techniques/technique-template.html
  understanding/understanding-template.html
Labels: Bug Fixes

#4261 Remove links to too old Editor's Draft in Understanding SC 4.1.2
  understanding/20/name-role-value.html
Labels: Editorial, Understanding, 4.1.2 Name Role Value

#4512 G224: fix two typos and a broken link
  techniques/general/G224.html
Labels: Techniques, Bug Fixes

#4495 stop videos causing horizontal scrolling
  css/base.css
  understanding/21/reflow.html
Labels: Understanding, 1.4.10 Reflow, Bug Fixes

#4493 add missing a to link tags
  techniques/html/H97.html
Labels: Techniques, Bug Fixes

#4490 web → Web, "web site" → "website"
  understanding/22/accessible-authentication-minimum.html
  understanding/22/consistent-help.html
Labels: Editorial, Understanding

#4570 Update social links in footer
  _includes/site-footer.html
Labels: Bug Fixes
